/node_modules
/public/hot
/public/storage
/public/frontend/images/*
/public/frontend/img/*
/storage/*
/vendor
/app/*
/public/uploads/*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.DS_Store
